.btn-moneymentor {
  background-color: #35ab5f;
  border-color: #35ab5f;
}
.btn-moneymentor:hover {
  background-color: #2f9a55;
  border-color: #2f9a55;
}

.tx-date {
  width: 72px; 
  flex: 0 0 72px;
}

.tx-amount {
  width: 120px; 
  flex: 0 0 120px;
}
