/* classes for dashboard */
.dash-content-container {
  max-width: 1000px; 
  margin: 0 auto;    
  padding: 20px;
}

/* .stats-card {
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  margin-bottom: 30px;
} */

.stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.month-dropdown {
  padding: 8px 20px 8px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background-color: #333333;
  color: #ffffff;
}

.stats-grid {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eee;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.stat-item {
  display: flex;
  flex-direction: column;
}

.stat-item .label {
  font-size: 0.85rem;
  color: #636977;
  margin-bottom: 5px;
}

.stat-item .value {
  font-size: 1.25rem;
  font-weight: 700;
}

.net-positive {
  color: #33AA5E; 
}

.net-negative {
  color: #CB4F4C;
}

.value.income {
  color: #33AA5E;
}

.value.expense {
  color: #333;
}

.dashboard-transactions-list {
  max-width: 300px;
  margin: 0 auto; 
  padding: 0 0 30px 0;
  list-style: none; 
}

.transaction-link {
  display: inline-block;     
  width: 100%;         
  text-decoration: none;
  color: inherit;
  text-align: center;    
}

.transaction-link:hover {
    background-color: #636977;
    opacity: 95%;
}

.transaction-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #333333;
  background-color: #222222;       
  transition: background 0.2s;
  color: #ffffff;
}

.dash-transactions-actions {
    gap: 20px;
    display: flex;
    justify-content: center;
}