/* classes for dashboard */
.stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-dropdown {
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background-color: #333333;
  color: #ffffff;
}

.stats-grid {
  border-top: 1px solid #eee;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.stat-item .label {
  font-size: 0.85rem;
  color: #636977;
  margin-bottom: 5px;
}

.stat-item .value {
  font-size: 1.25rem;
  font-weight: 700;
}

.net-positive {
  color: #33AA5E; 
}

.net-negative {
  color: #CB4F4C;
}

.value.income {
  color: #33AA5E;
}

.value.expense {
  color: #333;
}

.dashboard-transactions-list {
  max-width: 300px;
  margin: 0 auto; 
  padding: 10px 0 20px 0;
  list-style: none; 
}

.transaction-link {
  display: inline-block;     
  width: 100%;         
  text-decoration: none;
  color: inherit;
  text-align: center;    
}

.transaction-link:hover {
    background-color: #636977;
    opacity: 95%;
}

.transaction-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #333333;
  background-color: #222222;       
  transition: background 0.2s;
  color: #ffffff;
}

.dash-transactions-actions button {
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 600;
  background-color: #33AA5E;
}

.dash-transactions-actions button:hover {
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 600;
  background-color: #2f9a55;
}