/* footer styling */

.footer-logo {
  height: 60px;
  width: auto;
  min-height: 60px;
}

.footer-links a {
  color: #636977;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #33AA5E;
}

@media (max-width: 767px) {
  .footer-links {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    justify-content: center;
  }
}